# Unity 忽略檔案
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pid
*.tmp
*.bak
*.swp


Untracked files:
  ../AirEditor/
  ../Monopoly/

